:root {
    --background-color: hsl(0, 0%, 95%);
    --dark-text-color: #1a3b60;
    --light-text-color: hsl(0, 0%, 91%);
    --light-section-bg: hsl(0, 0%, 87%);
    --dark-section-bg: hsl(217, 15%, 17%);
    --logo-color: hsl(353, 100%, 40%);
}

* {box-sizing: border-box;}

body {
  background-color: var(--background-color);
  color: var(--dark-text-color);
  font-size: 1rem;
  line-height: 1.6rem;
}

.inter-text-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.nunito-sans-title-font {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

.section {
    padding: 40px 10px;
}

h2 {font-size: 2.25rem;}


/* NAVIGATION SECTION */
.mobile-nav-icon {
    height: 50px;
}

.logo-image {
    height: 50px;
    margin-right: -10px;
    transform: scaleX(-1);
    z-index: 1;
}

.header-navigation-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10px;
    background-color: var(--light-section-bg);
}

.nav-logo {
    display: flex;
    flex-direction: row;
}

.logo-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-transform: uppercase;
    font-size: 0.7rem;
    text-shadow: -2px -2px white;
    font-weight: 700 !important;
    z-index: 2;
}

.logo-main-title {
    font-size: 1.4rem;
    font-weight: 900 !important;
    color: var(--logo-color);
    text-shadow: -2px -2px white;
}

.hamburger-icon {display: none;}

.mobile-nav-wrapper {
    background-color: var(--light-section-bg);
    font-size: .8rem;
    text-transform: uppercase;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 0;
    overflow: hidden;
    transition: heigh .5s ease-in;
    position: absolute;
    top: 50px;
    transition: height .4s ease-out;
}

.mobile-nav-wrapper.open {
    height: 300px;
    transition: height .4s ease-in;
    border-bottom: 2px solid rgba(0, 0, 0, 0.182);
    border-radius: 0 0 20px 20px;
}

.mobile-menu-icon {height: 25px;}

.mobile-nav-icon {height: 50px;}

.nav-item {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    margin: 10px 0;
    padding: 10px 10px;
    font-weight: 500;
}

.nav-border {border-bottom: 1px solid rgba(0, 0, 0, 0.182);}

.desktop-menu {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: .9rem;
}

.desktop-menu ul {
    display: flex;
    flex-direction: row;
}

.desktop-nav-item {
    margin: 0 10px;
}

.disappear { display: none; }

/* NAVIGATION SECTION */


/* FOOTER SECTION */

footer {
    background-color: var(--light-section-bg);
    font-size: 0.8rem;
    line-height: 15px;
}

.footer-section {
    margin-bottom: 30px;
}

.footer-section-title {
    font-weight: 600;
}

.footer-section-title,
.contact,
.openings-footer {
    margin-bottom: 5px;
}

.copyright-footer-container {
    margin-bottom: 0;
}

/* FOOTER SECTION */


@media (max-width: 768px) {
    .desktop-menu {display: none;}
    .hamburger-icon {display: block;}
}