:root {
    --background-color: hsl(0, 0%, 95%);
    --dark-text-color: hsl(212, 57%, 24%);
    --light-text-color: hsl(0, 0%, 91%);
    --light-section-bg: hsl(0, 0%, 87%);
    --dark-section-bg: hsl(217, 15%, 17%);
    --logo-color: hsl(353, 100%, 40%);
    --light-price-bg: hsl(0, 0%, 92%);
}

* {box-sizing: border-box;}

body {
  background-color: var(--background-color);
  color: var(--dark-text-color);
  font-size: 1rem;
  line-height: 1.6rem;
}

.inter-text-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.nunito-sans-title-font {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

.section {
    padding: 60px 10px;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.section-title {
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 35px;
    text-align: center;
}

h1 {
    font-size: 25px;
}

h2 {font-size: 2.25rem;}

a {
    text-decoration: none;
    color: var(--dark-text-color);
    cursor: pointer;
}

@media (min-width: 768px) {
    .section-title {
        font-size: 1.5rem;
    }

    .main-title {
        font-size: 35px;
    }
}


/* NAVIGATION SECTION */
.nav-section {
    width: 100%;
    background-color: var(--light-section-bg);
}

.mobile-nav-icon {
    height: 50px;
}

.logo-image {
    height: 100px;
    margin-right: -10px;
    z-index: 1;
}

.header-navigation-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10px;
    margin: 0 auto;
}

.nav-logo {
    display: flex;
    flex-direction: row;
}

.logo-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-transform: uppercase;
    font-size: 0.7rem;
    text-shadow: -2px -2px white;
    font-weight: 700 !important;
    z-index: 2;
    line-height: 15px;
}

.logo-main-title {
    font-size: 1.4rem;
    font-weight: 900 !important;
    color: var(--logo-color);
    text-shadow: -2px -2px white;
}

.hamburger-icon {display: none;}

.mobile-nav-wrapper {
    background-color: var(--light-section-bg);
    font-size: .8rem;
    text-transform: uppercase;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 0;
    overflow: hidden;
    transition: heigh .5s ease-in;
    position: absolute;
    top: 70px;
    transition: height .4s ease-out;
    z-index: 1;
}

.mobile-nav-wrapper.open {
    height: 430px;
    transition: height .4s ease-in;
    border-bottom: 2px solid rgba(0, 0, 0, 0.182);
    border-radius: 0 0 20px 20px;
}

.mobile-menu-icon {height: 25px;}

.mobile-nav-icon {height: 50px;}

.nav-item {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    margin: 10px 0;
    padding: 10px 10px;
    font-weight: 500;
}

.nav-border {border-bottom: 1px solid rgba(0, 0, 0, 0.182);}

.desktop-menu {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: .9rem;
}

.desktop-menu ul {
    display: flex;
    flex-direction: row;
}

.desktop-nav-item {
    margin: 0 10px;
}

.disappear { display: none; }

@media (min-width: 768px) {
    .header-navigation-wrapper {
        max-width: 1200px;
    }
}


/* NAVIGATION SECTION */


/* FOOTER SECTION */

footer {
    background-color: var(--light-section-bg);
    font-size: 1rem;
    line-height: 22px;
}

.footer-section {
    text-align: center;
}

.footer-section-title {
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.openings-footer > p {
    margin-bottom: 5px;
}

.middle {
    margin: 40px 0;
}

@media (min-width: 768px) {
    .footer-section {
        text-align: left;
    }

    .footer-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .middle {
        margin: 0;
    }
}

/* FOOTER SECTION */


@media (max-width: 880px) {
    .desktop-menu {display: none;}
    .hamburger-icon {display: block;}
    .logo-image {height: 70px;}
}